* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    padding: 2rem 6rem 4rem 6rem;
}

header {
    background: #B298DC;

    padding-top: 10rem;
}

main {
    background: #e1e1e1;
    padding: 5rem 0;
}

footer {
    background: #B8D0EB;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    
    font-size: 6rem;
    font-weight: bold;

    border-bottom: 5px solid;

    margin-bottom: 3rem;
}

h2 {
    font-size: 3rem;
    font-weight: bold;

    border-bottom: 3px solid;

    padding: 0 2rem;

    margin-bottom: 2rem;

    display: inline-block;
}   

h4 {
    font-size: 2.5rem;

    margin-bottom: 1rem;

    width: 60%;

    text-align: center;
}

p, ol, form {
    font-size: 2rem;
}

p {
    margin-bottom: 1rem;
}

ol {
    margin-bottom: 2rem;
}

form {
    background: #f8f8f8;
    color: #111;
    border-radius: 25px;
    padding: 3rem;

    margin: 0 auto;
    margin-bottom: 3rem;

    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

textarea {
    font-size: 1.6rem;
    padding: 1rem;

    width: 80%;

    resize: none;
}

main > section{
    width: 80%;

    padding: 2rem 3rem;

    margin-bottom: 2rem;
}

main > section > p {
    margin-bottom: 4rem;
}

.describe-section, .assert-section, .mindful-section, .negotiate-section {
    margin-right: auto;

    color: #eee;
    background: #A663CC;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    box-shadow: 0 20px 10px -10px rgba(0,0,0,0.2);
}

.express-section, .reinforce-section, .confident-section {
    margin-left: auto;

    background: #B9FAF8;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    box-shadow: 0 20px 10px -10px rgba(0,0,0,0.2);
}

@media screen and (max-width:700px) {
    body {
        width: 100%;
    }

    form {
        padding: 1rem;
    }
}